<form class="w-50 mx-auto" #ngForm="ngForm" [formGroup]="myForm">
  <div class="form-group">
    <label for="code">Code</label>
    <input name="code_" style=" background-image: linear-gradient(to top, #17a2b8 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);" formControlName="code_" id="code" type="text" class="form-control">
    <div class="alert alert-danger" *ngIf="myForm.controls['code_'].invalid && myForm.controls['code_'].touched">
      <div *ngIf="myForm.controls['code_'].hasError('required')">Veuillez saisir ce champ.</div>
      <div *ngIf="myForm.controls['code_'].hasError('minlength')">Le champ réservé au code est trop court. (4 caractères min)</div>
    </div>
  </div>
  <br>
  <div class="form-group">
    <label for="libelle">Libelle</label>
    <input name="libelle_" style="background-image: linear-gradient(to top, #17a2b8 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);" formControlName="libelle_" id="libelle" type="text" class="form-control">
    <div class="alert alert-danger" *ngIf="myForm.controls['libelle_'].invalid && myForm.controls['libelle_'].touched">
      <div *ngIf="myForm.controls['libelle_'].hasError('required')">Veuillez saisir ce champ</div>
      <div *ngIf="myForm.controls['libelle_'].hasError('minlength')">Le champ libellé est trop court. (4 caractères min)</div>
    </div>
  </div>
  <br>
  <button class="btn btn-success" [disabled]="!myForm.valid" (click)="appliquer_ajout_modif()">Appliquer</button>
  <br><br>
  <button class="btn btn-secondary" (click)="ngForm.resetForm()">Reset</button>
</form>
