<div  class="card card-chart">
  <div class="card-header card-header-success">
    <div class="ct-chart" id="dailySalesChart"></div>
  </div>
  <div class="card-body">
    <h4 class="card-title">{{stock.idStock}}</h4>
    <p class="card-category">
      {{stock.libelleStock}}
  </div>
  <div class="col-6"  >
    <div class="float-right">
      <button type="button"   (click)="openDeleteEmpDialog(stock)" style="border-radius: 12px" class="btn btn-danger btn-sm" matTooltip="delete product">
        <mat-icon>delete_outline</mat-icon>
      </button>
    </div>
    <div class="float-right">
      <button type="button"  style="border-radius: 12px" class="btn btn-info btn-sm" matTooltip="edit product">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </div>
</div>
