<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <app-show-onerayon class="col-md-3" *ngFor="let object of listrayons"
                   [rayon]="object" (supprimer_rayon)="supprimer_rayon($event)" (modifier_rayon_before)="modifier_rayon_before($event)" >
<!--        <ul class="heroes">-->
<!--          <li >-->
<!--            <span class="badge">{{object.produit.idProduit}}</span> {{object.produit.code}}-->
<!--          </li>-->
<!--        </ul>-->
      </app-show-onerayon>
    </div>
    <br>
    <button (click)="show()" type="button" class="btn btn-info" href="" data-toggle="modal" data-target="#createmodel" >Ajouter Rayon</button>
    <div class="modal fade" id="createmodel" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="my-custom-class-for-errors">
          </div>
          <div class="modal-header">
            <h5 class="modal-title" id="createModalLabel"><i class="ti-marker-alt m-r-10"></i>Rayon</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="DynamicModel()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div *ngIf="isshow">
              <app-add-edit-rayon [listrayons]="listrayons" [rayon]="input" [name]="'Modifier'" (ajouter_modifier_rayon)="modifier_rayon_after($event)" ></app-add-edit-rayon>
            </div>
            <div *ngIf="showinput">
              <app-add-edit-rayon [listrayons]="listrayons" [name]="'Ajouter'" (ajouter_modifier_rayon)="ajouter_rayon($event)"></app-add-edit-rayon>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
