<div class="main-content ">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card" style="height: 100%">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Product</h4>
            <p class="card-category">Complete Product Information</p>
          </div>
          <div class="card-body">
            <form [formGroup]="productForm">
              <div class="row">
                <div class="col-md-3">
                  <mat-form-field class="example-full-width">
                    <input [(ngModel)]="product.code"
                           matInput
                           formControlName="code"
                           placeholder="Code"
                           required>
                    <mat-icon matSuffix>badge</mat-icon>
                    <mat-error *ngIf="!code.valid && code.touched">
                      {{ getErrorCode() }}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input [(ngModel)]="product.libelle"
                           matInput
                           formControlName="libelle"
                           placeholder="Libelle"
                           required>
                    <mat-icon matSuffix>description</mat-icon>
                    <mat-error *ngIf="!libelle.valid && libelle.touched">
                      {{ getErrorLibelle() }}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input type="number" [(ngModel)]="product.prixUnitaire"
                           matInput
                           formControlName="prixUnitaire"
                           placeholder="PrixUnitaire"
                           required>
                    <mat-icon matSuffix>credit_card</mat-icon>
                    <mat-error *ngIf="!prixUnitaire.valid && prixUnitaire.touched">
                      {{ getErrorPrixUnitaire() }}
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                      <mat-label>Rayon</mat-label>
                      <mat-select formControlName="rayon">
                        <mat-option *ngFor="let rayon of rayons" [value]="rayon">
                          {{rayon.code}} - {{rayon.libelle}}
                        </mat-option>
                      </mat-select>
                    <mat-error *ngIf="!rayon.valid && rayon.touched">
                      {{ getErrorRayon() }}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <mat-label>Stock</mat-label>
                    <mat-select required formControlName="stock">
                      <mat-option *ngFor="let stock of stocks" [value]="stock">
                        {{stock.libelleStock}}: Qte Min: {{stock.qteMin}} - Qte: {{stock.qte}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="!stock.valid && stock.touched">
                      {{ getErrorStock() }}
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <mat-label>Categorie</mat-label>
                    <mat-select required value="ELECTROMENAGER" formControlName="categorie">
                      <mat-option value="ELECTROMENAGER">ELECTROMENAGER</mat-option>
                      <mat-option value="ALIMENTAIRE">ALIMENTAIRE</mat-option>
                      <mat-option value="QUINCAILLERIE">QUINCAILLERIE</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <button *ngIf="data[0]!=null; else add" mat-raised-button type="submit" class="btn btn-danger pull-right"
                      color="primary"
                      [disabled]="productForm.invalid" (click)="updateProduct()">Update Product
              </button>

              <ng-template #add>
              <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                      color="primary"
                      [disabled]="productForm.invalid" (click)="saveProduct()" [mat-dialog-close]="true">
                        Add Product
              </button>
              </ng-template>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
