<!--
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{product.code}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{product.image}}" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>{{product.libelle}}</p>
    <p>{{product.prixUnitaire}} DT</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Add to cart</button>
  </mat-card-actions>
</mat-card>
-->

    <div class="card card-chart">
      <div class="card-header card-header-success">
        <div class="ct-chart" id="dailySalesChart"></div>
      </div>
      <div class="card-body">
        <h4 class="card-title">{{product.code}}</h4>
        <p class="card-category">
          {{product.libelle}}
      </div>
    </div>
