<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Edit Profile</h4>
            <p class="card-category">Complete your profile</p>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-3">
                  <mat-form-field class="example-full-width">
                    <input
                      matInput
                      placeholder="Username"
                      value="{{ connectedUser.lastName }}.{{ connectedUser.firstName }}"
                    />
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input
                      matInput
                      placeholder="Email address"
                      type="email"
                      value="{{ connectedUser.email }}"
                    />
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input
                      matInput
                      placeholder="Phone number"
                      type="number"
                      value="{{ connectedUser.phone }}"
                    />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input
                      matInput
                      placeholder="Fist Name"
                      type="text"
                      value="{{ connectedUser.firstName }}"
                    />
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input
                      matInput
                      placeholder="Last Name"
                      type="text"
                      value="{{ connectedUser.lastName }}"
                    />
                  </mat-form-field>
                </div>
              </div>

              <button
                mat-raised-button
                type="submit"
                class="btn btn-danger pull-right"
              >
                Update Profile
              </button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="javascript:void(0)">
              <img
                class="img"
                src="../../../assets/img/cover.jpeg"
                alt=""
              />
            </a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">
              {{ connectedUser.proffesion }}
            </h6>
            <h4 class="card-title">{{ connectedUser.firstName }}</h4>

            <a href="javascript:void(0)" class="btn btn-danger btn-round"
              >Follow</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
